@import "../../index.scss";

.card {
  position: relative;
  height: fit-content;
  background: linear-gradient(142.2deg, #1a1919 0%, rgba(3, 3, 3, 0.2) 100%);
  box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  padding: 1em;
}

.cardHead {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeadRight, .box_1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  p, img{
    margin-left: 3%;
  }
  Button{
    margin-left: 1%;
  }
}

.box_1{
  display: flex;
  width: 240px;
  align-items: center;
  justify-content: space-between;
  background-color: #0b0b0b;
  padding:1%;
  border-radius: 15px;
  p, img{
    margin-left: 3%;
  }
}

#posImg{
  display: block;
  // justify-content: space-between;
  margin: 2%;
  .image {
    display: inline-block;
    margin-right: 15px;
  }
  
  .image:nth-of-type(1) {
    margin-left: 10px;
  }
}

.cardAbout {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cardStats {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
    }

    .btn-secondary {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.07em;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.card input {
  width: 90%;
  height: 45px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  padding: 22px;
  background-color: #0b0b0b;
}

.cardButton {
  margin: 0 0 1em;

  .btn-primary {
    width: 100%;
  }
}

.cardLine {
  background: #535353;
  height: 1px;
}

.cardDropDown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0 0;
}
