@import "../../index.scss";

.modal {
  width: 474px;
  background: #1a1919;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  padding: 1em;

  > div {
    margin-bottom: 1.25em;

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  > div:nth-last-child(1) {
    margin-bottom: 0;
  }
  .flex {
    display: flex;
    align-items: center;

    img {
      margin-right: 1em;
    }
  }
}

.recentModal {
  position: relative;
  width: 534px;
  height: 205px;
  background: #1a1919;
  border-radius: 5px;

  #recentAbout {
    width: 474px;
    height: 27px;
  }

  #recentModalButton {
    width: 109px;
    height: 36px;
    left: 30px;
    top: 134px;
  }
}

.paymentModal {
  height: 265px;
  width: 474px;
  padding: 26px;
}

.connectWalletModal {
  width: 603px;
  height: 514px;

  .modalCloseCrossBox {
    left: 90%;
  }

  .walletBoxes {
    display: flex;
    flex-wrap: wrap;
  }

  .walletContain {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 43px;
    top: 20px;
  }

  .walletBox {
    position: relative;
    width: 165px;
    height: 150px;
    left: 0px;
    top: 15px;
    margin: 10px;
    background: #0b0b0b;
    border-radius: 5px;
  }

  .walletBoxImg {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 43px;
    top: 20px;
  }

  .walletBoxText {
    position: absolute;
    left: 20.88%;
    right: 26.06%;
    top: 73.33%;
    bottom: 13.33%;
  }

  .modalFooterText {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 0.9em;
  }
}

.settingModal {
  width: 603px;
  height: 403px;

  .modalCloseCrossBox {
    left: 90%;
  }

  .audioBox {
    width: 75px;
    height: 71px;
    left: 30px;
    top: 302px;

    .audioText {
      width: 42px;
      height: 20px;
      left: 30px;
      top: 302px;

      > p {
        position: absolute;
        left: 4.98%;
        right: 88.06%;
        top: 74.94%;
        bottom: 20.1%;
      }
    }

    .audioToggle {
      position: absolute;
      width: 75px;
      height: 31px;
      left: 30px;
      top: 342px;
      background: #0b0b0b;
      border-radius: 50px;

      .audioOn {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 34px;
        top: 345px;

        background: #f1f1f1;
        /* Primary */

        border: 1px solid #ec1654;
        box-sizing: border-box;
        border-radius: 50px;
        > p {
          position: absolute;
          left: 11.94%;
          right: 84.74%;
          top: 86.85%;
          bottom: 9.18%;
        }
      }
    }
  }

  .settingBox1 {
    position: absolute;
    width: 543px;
    height: 95px;
    left: 30px;
    top: 92px;
    border: 1px solid white;
    display: flex;

    .box1Head {
      position: absolute;
      width: 167px;
      height: 20px;
      left: 30px;
      top: 22px;
      border: 1px solid white;

      > p {
        position: absolute;
        left: 4.98%;
        right: 72.31%;
        top: 22.83%;
        bottom: 72.21%;
      }

      > img {
        position: absolute;
        left: 8.33%;
        right: 8.34%;
        top: 8.33%;
        bottom: 8.33%;
        background: rgba(255, 255, 255, 0.7);
      }
    }

    .dataBox1 {
      position: absolute;
      width: 75px;
      height: 45px;
      top: 132px;
      border: 1px solid white;
      background: #0b0b0b;
      border-radius: 5px;

      > p {
        position: absolute;
        left: 8.46%;
        right: 86.07%;
        top: 35.98%;
        bottom: 59.06%;
      }
    }

    #databox-1 {
      left: 30px;
    }

    #databox-2 {
      left: 115px;
    }

    #databox-3 {
      left: 200px;
    }

    #databox-4 {
      left: 30px;
    }

    .dataBox2 {
      position: absolute;
      width: 263px;
      height: 45px;
      left: 0px;
      top: 0px;

      background: #0b0b0b;
      border-radius: 5px;
    }
  }
}

.switchToDesktopModal {
  width: 413px;
  height: 351px;

  .aboutSwitch {
    position: absolute;
    width: 353px;
    height: 230px;
    left: 30px;
    top: 30px;

    .aboutSwitchText {
      position: absolute;
      width: 353px;
      height: 108px;
      left: 5px;
      top: 120px;
    }

    #aboutText1{
      margin-bottom: 14px;
    }
  }

  .switchButton{
    position: relative;
    top:85%;
  }
}

.modalHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 147px;
  height: 32px;
  left: 30px;
  top: 30px;

  .modalLogo {
    height: 32px;
    width: 32px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: static;
    left: 0%;
    right: 78.23%;
    top: 0%;
    bottom: 0%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    #icon {
      height: 26.666667938232422px;
      width: 26.666667938232422px;
      left: 2.6666641235351562px;
      top: 2.666656494140625px;
      border-radius: 0px;
      position: absolute;
      left: 8.33%;
      right: 8.33%;
      top: 8.33%;
      bottom: 8.33%;
      //   background: #f74242;
    }
  }

  .modalText {
    position: static;
    left: 28.57%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    // font-family: General Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
}

.modalAbout {
  position: absolute;
  width: 414px;
  height: 147px;
  left: 30px;
  top: 82px;
  //   font-family: General Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.05em;

  color: rgba(255, 255, 255, 0.7);
}

.modalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  position: absolute;
  width: 414px;
  height: 36px;
  left: 30px;
  top: 249px;

  /* Primary */

  background: #ec1654;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.modalAlert {
  position: absolute;
  width: 358px;
  height: 20px;
  left: 30px;
  top: 82px;

  font-family: General Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.05em;

  color: #ffffff;
}

.modalCloseCrossBox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 480px;
  //   top: 34px;

  .modalCloseIcon {
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 11.83%;
    bottom: 20.83%;
    color: #f74242;
  }
}

.modalFooter {
  position: absolute;
  width: 272px;
  height: 28px;
  left: 30px;
  top: 207px;

  .modalFooterIcon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
  }

  .modalFooterText {
    position: absolute;
    left: 13.35%;
    right: -9.29%;
    top: 18.38%;
    bottom: 13.58%;
  }
}
