@import "../../index.scss";

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}

.chart_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1150;
}

.chartModal1 {
  .btn-secondary {
    font-size: 0.8em;
    letter-spacing: 0em;
  }
}

.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    img {
      margin-right: 1em;
    }
  }
}

.modal {
  width: 474px;
  background: #1a1919;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  padding: 1em;

  @media (max-width: 576px) {
    width: 90%;
  }

  > div {
    margin-bottom: 1.25em;

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  > div:nth-last-child(1) {
    margin-bottom: 0;
  }
  .flex {
    display: flex;
    align-items: center;

    img {
      margin-right: 1em;
    }
  }
}

.recentModal {
  background: #1a1919;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  padding: 1em;

  @media (max-width: 576px) {
    width: 80%;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;

      img {
        margin-right: 1em;
      }
    }
  }
  > p {
    margin: 1em 0;
  }
}

.paymentModal {
  height: 265px;
  width: 474px;
  padding: 26px;
}

.connectWalletModal {
  width: 603px;
  padding: 1em;

  @media (max-width: 576px) {
    width: 90%;
  }

  .walletbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    .wallet_card {
      background: #0b0b0b;
      border-radius: 5px;
      padding: 0.5em;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 0.5em;
      cursor: pointer;

      @media (max-width: 576px) {
        height: 120px;
      }

      > div {
        width: 100%;
        height: 80%;
        display: grid;
        place-items: center;

        img {
          height: 100%;
          object-fit: contain;
        }
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.07em;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  .modalFooterText {
    font-size: 0.9em;
  }
}

.settingModal {
  max-width: 570px;
  padding: 1em;

  @media (max-width: 576px) {
    max-width: 90%;
  }

  > p {
    display: flex;
    align-items: center;
    margin: 1em 0;

    img {
      margin-left: 1em;
    }
  }

  input {
    background: #0b0b0b;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0.75em 1em;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.7);
  }

  .transaction {
    input {
      width: 75px;
      margin-right: 1em;
    }
  }

  .slippage_input {
    display: grid;
    grid-template-columns: 75px 75px 75px auto;

    > input {
      margin-right: 1em;
    }
    > div {
      display: flex;
      align-items: center;

      input {
        width: 100%;
      }

      span {
        margin-left: 0.5em;
      }
    }
  }
}

.switchToDesktopModal {
  width: 413px;
  height: 351px;

  .aboutSwitch {
    position: absolute;
    width: 353px;
    height: 230px;
    left: 30px;
    top: 30px;

    .aboutSwitchText {
      position: absolute;
      width: 353px;
      height: 108px;
      left: 5px;
      top: 120px;
    }

    #aboutText1 {
      margin-bottom: 14px;
    }
  }

  .switchButton {
    position: relative;
    top: 85%;
  }
}

.tokenModal {
  width: 603px;
  height: 404px;

  .modalCloseCrossBox {
    left: 550px;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 543px;
    height: 45px;
    left: 30px;
    top: 92px;

    input {
      position: absolute;
      width: 509px;
      height: 45px;
      left: 0px;
      top: 0px;
      margin-left: 2px;
      background: #0b0b0b;
      border-radius: 5px;
      border: none;
    }

    .searchToken::-webkit-input-placeholder {
      position: absolute;
      left: 3.68%;
      right: 47.15%;
      top: 26.67%;
      bottom: 28.89%;
    }

    button {
      position: static;
      width: 24px;
      height: 24px;
      left: 519px;
      top: 10.5px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 10px;

      img {
        position: absolute;
        left: 95.52%;
        right: 16.28%;
        top: 12.5%;
        bottom: 18.3%;
        background: #ffffff;
      }
    }
  }

  .tokenHead {
    position: absolute;
    width: 90%;
    height: 20px;
    left: 30px;
    top: 157px;
    display: flex;
  }

  .tokenName {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    margin-left: 15px;
    width: 90%;
    .tokenBox {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.55em;
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid #6d6d6d;

      .token-name {
        position: absolute;
        left: 10%;
        text-transform: capitalize;
      }

      .smallName {
        position: absolute;
        left: 95%;
        text-transform: uppercase;
      }
    }
  }
}

.investModal {
  width: 523px;
  height: 447px;

  .investData {
    width: 490px;
    height: 230px;
  }

  .investData td,
  .investData th {
    text-align: center;
  }

  .investAbout {
    position: absolute;
    width: 444px;
    height: 60px;
    left: 45px;
    top: 320px;
  }

  .investLink {
    position: absolute;
    width: 159px;
    height: 20px;
    left: 170px;
    bottom: 25px;
    display: flex;

    p {
      margin-right: 10px;
    }
  }
}

.liquidityModal {
  width: 523px;
  height: 460px;

  .liquidBox {
    position: absolute;
    width: 463px;
    height: 112px;
    background-color: #0b0b0b;
  }

  #boxL1 {
    left: 30px;
    top: 101px;
  }

  #boxL2 {
    left: 30px;
    top: 270px;
  }

  .liquidAdd {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 250px;
    top: 228px;
  }

  .boxHead {
    position: absolute;
    left: 6.56%;
    right: 83.37%;
    top: 10.02%;
    bottom: 68.53%;
    display: flex;
    width: 90%;
    input {
      background-color: transparent;
      border: none;
    }

    .boxData {
      position: absolute;
      left: 80%;
    }
  }

  .boxFooter {
    position: absolute;
    left: 6.56%;
    right: 83.37%;
    top: 70.02%;
    bottom: 68.53%;
    display: flex;
    width: 90%;
    height: 20%;

    .liquidDropDown {
      position: absolute;
      width: 121px;
      height: 30px;
      left: 294px;
      top: -5px;
      display: flex;
      border-radius: 50px;
      background: #1d1d1d;
    }

    #boxL2Drop {
      width: 145px;
      left: 275px;
    }

    p {
      margin-left: 10px;
      margin-top: 3px;
    }
  }
}

.modalHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 147px;
  height: 32px;
  left: 30px;
  top: 30px;

  .modalLogo {
    height: 32px;
    width: 32px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: static;
    left: 0%;
    right: 78.23%;
    top: 0%;
    bottom: 0%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    #icon {
      height: 26.666667938232422px;
      width: 26.666667938232422px;
      left: 2.6666641235351562px;
      top: 2.666656494140625px;
      border-radius: 0px;
      position: absolute;
      left: 8.33%;
      right: 8.33%;
      top: 8.33%;
      bottom: 8.33%;
      //   background: #f74242;
    }
  }

  .modalText {
    position: static;
    left: 28.57%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    // font-family: General Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.07em;
    color: #ffffff;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
}

.modalAbout {
  position: absolute;
  width: 414px;
  height: 147px;
  left: 30px;
  top: 82px;
  //   font-family: General Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.05em;

  color: rgba(255, 255, 255, 0.7);
}

.modalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  position: absolute;
  width: 463px;
  height: 36px;
  left: 30px;
  bottom: 20px;

  /* Primary */

  background: #ec1654;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.modalAlert {
  position: absolute;
  width: 358px;
  height: 20px;
  left: 30px;
  top: 82px;

  font-family: General Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.05em;

  color: #ffffff;
}

.modalCloseCrossBox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 480px;
  //   top: 34px;

  .modalCloseIcon {
    position: absolute;
    left: 20.83%;
    right: 20.83%;
    top: 11.83%;
    bottom: 20.83%;
    color: #f74242;
  }
}

.modalDownArrowBox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 520px;
  .modalDownArrowIcon {
    position: absolute;
    float: right;
  }
}

.modalFooter {
  position: absolute;
  width: 272px;
  height: 28px;
  left: 30px;
  top: 207px;

  .modalFooterIcon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
  }

  .modalFooterText {
    position: absolute;
    left: 13.35%;
    right: -9.29%;
    top: 18.38%;
    bottom: 13.58%;
  }
}
