#poolCard2 {
  position: absolute;
  left: 40%;
  height: 285px;
  width: 347px;

  .cardDes {
    padding: 0px;
    width: 100%;
  }

  .poolInput {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;

    input {
      width: 307px;
      height: 80px;
      background-color: black;
      border: none;
      color: white;
    }
  }

  .cardButton {
    margin-top: 36%;
  }
}

.cardPool {
  .dropdown_content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;

    &.active {
      margin-top: 1em;
      visibility: visible;
      height: fit-content;
      opacity: 1;
      transition: all 300ms ease-in-out;
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.5em;

      p {
        display: flex;
        align-items: center;

        img {
          margin-left: 0.25em;
          cursor: pointer;
        }
      }
    }
  }
}
