@import "../../index.scss";

.prediction_screen {
  margin-top: 90px;
  padding-bottom: 3em;

  .prediction_header {
    padding: 1em 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
      padding: 1em 2em;
    }
    @media (max-width: 576px) {
      padding: 1em 1em;
    }

    .col_one {
      background: #1a1919;
      border-radius: 5px;
      padding: 10px 1em;
      display: flex;
      align-items: center;
      width: fit-content;

      img {
        width: 26px;
        height: 26px;
      }

      p {
        margin: 0 0.5em;
      }
    }

    .col_two {
      place-self: center;
    }

    .col_three {
      place-self: flex-end;
      display: flex;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        background: #1a1919;
        border-radius: 5px;
        padding: 10px 1em;
        margin-right: 1em;

        img {
          width: 26px;
          height: 26px;
        }

        p {
          margin: 0 0.5em;
        }
      }
    }
  }

  .slider {
    padding: 1em;
  }

  .prediction_card {
    padding: 1.25em;
    border: 10px solid transparent;

    .card_wrapper {
      background: linear-gradient(
        142.2deg,
        #1a1919 0%,
        rgba(3, 3, 3, 0.2) 100%
      );
      box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 5px;
      padding: 1.25em;

      .card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          display: flex;
          align-items: center;
          img {
            margin-right: 1em;
          }
        }
      }

      .row_one {
        background: $primary;
        width: 70%;
        margin: 1em auto 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .row_three {
        background: #1a1919;
        width: 70%;
        margin: 0 auto 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .row_two {
        background: #0b0b0b;
        border-radius: 5px;
        padding: 1em;

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 0.5em;

          p {
            display: flex;
            align-items: center;

            img {
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }

  .expired_card {
    opacity: 0.7;
  }

  .next_card {
    position: relative;
    height: 350px;
    transform-style: preserve-3d;

    &.active {
      .face {
        &.front {
          transform: perspective(1000px) rotateY(180deg);
        }
        &.back {
          transform: perspective(1000px) rotateY(360deg);
        }
      }
    }

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.25em;
      transform-style: preserve-3d;
      transition: 1s ease-in-out;

      &.front {
        backface-visibility: hidden;
        background: linear-gradient(
          142.2deg,
          #1a1919 0%,
          rgba(3, 3, 3, 0.2) 100%
        );
        box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
        backdrop-filter: blur(15px);
        border-radius: 5px;
      }

      &.back {
        background: linear-gradient(
          142.2deg,
          #1a1919 0%,
          rgba(3, 3, 3, 0.2) 100%
        );
        box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
        backdrop-filter: blur(15px);
        border-radius: 5px;
        transform: perspective(500px) rotateY(180deg);
        backface-visibility: hidden;

        section {
          input {
            width: 100%;
            background: #0b0b0b;
            border-radius: 5px;
            padding: 1.25em;
            border: none;
            outline: none;
            margin-top: 1em;
            color: #fff;
            font-size: 1em;
            letter-spacing: 0.05em;
            font-family: $fontLight;
          }
        }

        .btn_class {
          button {
            width: 100%;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50px;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.07em;
            color: rgba(255, 255, 255, 0.5);
            border: none;
            outline: none;
            padding: 0.5em 1em;
            margin: 1em 0;
          }
        }

        .price_stats {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          place-items: center;
          margin-top: 1em;

          p {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.07em;
            padding: 5px 1em;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    .card_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        display: flex;
        align-items: center;
        img {
          margin-right: 1em;
        }
      }
    }

    .row_one {
      background: #1a1919;
      width: 70%;
      margin: 1em auto 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75em;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .row_three {
      background: #1a1919;
      width: 70%;
      margin: 0 auto 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75em;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .row_two {
      background: #0b0b0b;
      border-radius: 5px;
      padding: 1em;

      section {
        button {
          width: 100%;
          margin-top: 1em;
        }
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5em;

        p {
          display: flex;
          align-items: center;

          img {
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  .prevArrow {
    position: absolute;
    top: -15%;
    left: 46%;
    cursor: pointer;
  }
  .nextArrow {
    position: absolute;
    top: -15%;
    left: 52.5%;
    cursor: pointer;
  }

  .chart_btn {
    margin-left: 3em;

    @media (max-width: 768px) {
      margin-left: 2em;
    }
    @media (max-width: 576px) {
      margin-left: 1em;
    }

    > p {
      display: flex;
      align-items: center;
      padding: 0.75em;
      background: #1a1919;
      border-radius: 5px;
      width: fit-content;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        margin-right: 1em;
      }
    }
  }
}
