@import "../../index.scss";

.prediction_screen {
  margin-top: 90px;
  padding: 1em 3em 3em;
  height: fit-content;

  @media (max-width: 768px) {
    padding: 1em 2em 3em;
  }
  @media (max-width: 576px) {
    padding: 1em 1em 3em;
  }

  .prediction_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    .block_left {
      > img {
        margin-right: 1em;
        width: 24px;
        cursor: pointer;
      }
      > span {
        margin-right: 1em;
      }
    }

    .block_right {
      > img {
        margin-left: 1em;
        width: 24px;
      }
      > p {
        margin-left: 1em;
        display: flex;
        align-items: center;

        img {
          margin-left: 0.5em;
        }
      }
      > input {
        margin-left: 1em;
        background: #0b0b0b;
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 0.75em 1em;
        color: $primaryText;
        font-size: 0.875em;
        font-family: $fontRegular;
        letter-spacing: 0.05em;

        &::placeholder {
          font-weight: normal;
          font-size: 0.875em;
          line-height: 20px;
          letter-spacing: 0.05em;
          color: rgba(255, 255, 255, 0.7);
          font-family: $fontRegular;
        }
      }
      .bR{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #bg{
        background-color: #0b0b0b;
      }
    }

  }
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    margin: 1em 0;
    overflow: hidden;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
}

.cardPrediction {
  transition: all 300ms ease-in-out;
  .cardHead {
    .cardName {
      .cardHead2 {
        display: flex;
        align-items: center;
      }
    }
  }
}


.prediction_card {
  width: 315px;
  height: 381px;
  background: linear-gradient(142.2deg, #1a1919 0%, rgba(3, 3, 3, 0.2) 100%);
  box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  position: absolute;
  // margin-top: 10%;
  // margin-left: 30%;
  padding: 1.2%;
  border: 1px solid white;
}

.prediction_card_head {
  width: 275px;
  height: 24px;
  display: flex;
  #live_next {
    margin-left: 6%;
  }
  #data {
    margin-left: 57%;
  }
}

.prediction_progress {
  width: 275px;
  height: 7px;
  border-radius: 5px;
  background: #1a1919;

  .progress_per {
    width: 60%;
    height: 7px;
    border-radius: 5px;
    background-color: #ec1654;
  }
}

#changeFlex {
  flex-direction: column;
  flex-wrap: nowrap;
}

.prediction_upDown {
  width: 200px;
  padding: 15px;
  margin-left: 4%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction_body {
  width: 275px;
  height: 190px;
  background: #0b0b0b;
  border-radius: 5px;
  padding: 18px;
  margin-left: 1.88%;
}

.buttons {
  display: flex;
  flex-direction: column;
}


