@import "../../index.scss";

.trade_screen {
  margin-top: 90px;
  padding: 1em 5em 3em;
  height: fit-content;
  display: grid;
  grid-template-columns: 250px auto 270px;

  @media (max-width: 768px) {
    padding: 1em 2em 3em;
  }
  @media (max-width: 576px) {
    padding: 1em 1em 3em;
  }

  > div:nth-child(2) {
    padding: 1.75em;
    background: linear-gradient(142.2deg, #1a1919 0%, rgba(3, 3, 3, 0.2) 100%);
    box-shadow: 0px 5px 15px rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    height: fit-content;
  }

  .trade_block {
    margin-right: 1.75em;
    height: fit-content;

    > div:nth-child(1) {
      p {
        margin-bottom: 1em;
        display: flex;
        align-items: center;

        img {
          margin-left: 1em;
        }
      }
    }
    > div:nth-child(2) {
      padding-top: 0.5em;
      > p {
        padding: 0.5em 1em;
        margin-top: 1em;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 100ms ease-in-out;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          transition: all 100ms ease-in-out;
        }

        &.active {
          background: rgba(255, 255, 255, 0.1);
          border-radius: 0px 5px 5px 0px;
          border-left: 5px solid #fff;
          color: $primaryText;

          img {
            visibility: visible;
          }
        }

        img {
          visibility: hidden;
        }
      }
    }
  }
}
